<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  
  <body>




    {% include 'mainmenu/header.html' %}

        
    <!-- ======= About Section ======= -->
    <section id="about" class="about mt-5">
        <div class="container-fluid">
            <h2 class="h1-responsive font-weight-bold text-center my-2">About</h2>
            <!--Section description-->
            <p class="text-center w-responsive mx-auto mb-1">Do you have any questions? Please do not hesitate to
                contact us directly. Our team will come back to you within
                a matter of hours to help you.</p>
            <div class="row  pt-5 pb-5">

                <div class="col-lg-5 align-items-stretch video-box"
                    style='background-image: url("https://cdn.pixabay.com/photo/2018/01/17/07/06/laptop-3087585_960_720.jpg");'>
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4"
                        data-vbtype="video" data-autoplay="true"></a>
                </div>

                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

                    <div class="content">
                        <h3><strong>ABOUT PHONICS GROUP OF INSTITUTION</strong></h3>
                        <p>
                            Phonics Group of Institutions, Roorkee Uttarakhand has become a synonym to excellence, situated on Imlikhera Dharmapur, Roorkee 12th Milestone Bhagwanpur Haridwar Highway. Phonics Group of Institutions bespeaks A-class educational facilities. PGI, Roorkee has come a long way in the field of education. In the year 2009, it got incepted with a hope to bridge the gap between inquisitive minds and education.
                        </p>
                        <p class="font-italic">
                            Initially, Engineering was the flagship program at PGI, Roorkee and with time, more & more programs got added to the curriculum. Currently, the college offers 10+ programs under domains namely Engineering, Computer Application, Management, Education, Agriculture, and Applied Sciences. Under the aegis of PGI, Roorkee, new-wave pedagogy, 360-Degree training, international exposure, and industry-academia interface have been methodically interwoven, to provide a comprehensive overlook of the respective industries. With the provision of remarkable infrastructure, ultra-modern laboratories, accompanied by practical strategies, the college has managed to reform the ways of modern education.
                        </p>
                        <!--<ul>
                            <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.</li>
                            <li><i class="bx bx-check-double"></i> Duis aute irure dolor in reprehenderit in
                                voluptate velit.</li>
                            <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate trideta
                                storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                        </ul>
                        <p>
                            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in
                            culpa qui officia deserunt mollit anim id est laborum
                        </p>-->
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->



    {% include 'mainmenu/footer.html' %}



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

  </body>
</html>